$color-primary: #d63e2d;
$color-secondary: #191919;
$color-white: #ffffff;
$color-yellow: #efe755;
$color-green: #8dbf35;
$color-blue: #3052a0;
$color-orange: #ef6e3b;

$sidebar-desktop-width: 320px;

$gutter: 22px;
$gutter-small: 10px;
