.map-sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: $sidebar-desktop-width;
  background: $color-white;
  z-index: 10;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

  &__header {
    background: $color-primary;
    color: $color-white;
    margin-bottom: $gutter;
    padding: $gutter;
  }

  &__content {
    padding: $gutter;
  }

  &__button {
    font-size: 1rem;
    width: 100%;
    background-color: $color-secondary;
    border: none;
    color: #fff;
    padding: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    &:hover {
      background-color: #333333;
    }
    &.active {
      background-color: $color-primary;
    }
  }

  &__key-item {
    display: flex;
    align-items: center;
  }
  &__key-marker {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 50px;
    height: 5px;
    background-color: $color-secondary;
    &--river {
      background-color: $color-blue;
    }
    &--drain {
      background-color: $color-primary;
    }
    &--desilting-started {
      background-color: $color-yellow;
    }
    &--desilting-finished {
      background-color: $color-green;
    }
    &--bank-raising {
      background-color: $color-orange;
    }
  }
}
